#mainlist
{
    background:#FFFFFF;
    position:fixed;
    height:800px;
    box-shadow:5px 0 20px #333;
    list-style-type:none;
    padding:0px;  
    z-index:3;
}

ul{
padding:0px;
margin:0px;
}

.favourite-title
{
    font-weight: 700;
    color:black;
}
.profile-intro
{
    padding-bottom:20px;
    
}

.home-head
{
    border-bottom:2px solid #d4d4d5
}

.home-head p 
{
    display:inline-block;
    width:100px;
    margin:10px 20px;
}

.blog-item
{
    padding: 10px 0px;
    border-bottom:1px solid #d4d4d5;
}

.blog-list
{
    margin:20px;
}
.blog-title
{
    font-size:16px;
    font-weight:bold;
}

.author-name
{
    font-weight: bold;
}

.blog-content
{
    width:100%;
}

.blog-content img
{
width:100%;
}

.index-newly
{
    margin:0px auto;
   width:100%;
   height:500px;
}

.newly-list-item
{
    width:100%;

    padding:5px 0px;
}

.head-img
{
    display:inline-block;
    margin-right:3px;
}

.blog-nav
{
    margin-right:20px;
    width:96px;
    float:left;
    
    
}

.lab-title
{
font-size: 14px;
    color: #4F4F4F;
    text-align:right;
    margin-right: 6px;
}

select.droBlogType
{
    width: 138px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 16px;
}

.editor-box
{
    width: 100%;
    height: 560px;
}
.more-info
{
    margin-top: 24px;
    margin-bottom:10px;
}

.blog-nav ul
{
    list-style:none;
}

#blogTitle
{
    width:100%;
    margin-bottom: 24px;
    height: 40px;
    box-sizing: border-box;
        border: none;
            outline: none;
    line-height: 40px;
    background-color: #fff;
    color: #4f4f4f;
}

.blog-nav a{
    color:#707070;
    font-size: 14px;
    display:block;
    height:32px;
    margin-bottom:1px;
    line-height:32px;
    width:100%;
    text-align:center;
}

.nav-active
{
    text-decoration:none;
    background-color:#f44444;
}

.nav-active a
{
    color:#fff;
}

.blog-nav a:hover
{
    color:#fff;
    text-decoration:none;
    background-color:#f44444;
}

.index-list-item-blog
{
    display:inline-block;
    width:70%;
}

.index-blog-title
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    color:black;
    margin-bottom: 4px;
    display: inline-block;
}

.blog-author-info
{
    /* display:inline-block; */
}

.blog-author-info span
{
    
}

.blog-author-info p
{
    
/*     width:auto; */
    display:inline-block;
}

.blog-title
{
    width:100%;
    text-align:center;
    font-size:30px;
}

.blog-head-info
{
    margin:10px 0px;
}


.float-right
{
    float:right;
}
.blog-time
{
    color:#8A8A8A;
    font-size:12px;
    margin-right:9px;
}

.head-img img
{
    width:25px;
    height:25px;
}

.blog-detail
{
    
    font-size:14px;
    overflow: hidden;
    width:100%;
    margin:0px;
    color:#8A8A8A;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-buttom
{
    font-size:12px;
    color:#999999;
}

.user-name p
{
    font-size:25px;
    font-weight:bold;
    
}
.Blog-bottom
{
    margin-top:20px;
}
.data-info
{
    padding:10px 0px;
}
.data-info div
{
    margin:0px auto;
    text-align:center;
}

.data-info p
{
    margin:0px;
}
.pageActive-item{
    width: 100px;
    padding: 12px 15px;
    color: #fff;
    background: darkcyan;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    
    text-align: center;
}

.pageActive-item:hover
{
    text-decoration:none;
    cursor: pointer;
    color: #333;
}

.opt-box
{
}

.inter-button
{
    text-align:center;
    width: 56px;
    display:block;
    height: 28px;
    font-size: 12px;
    border-radius:25px;
    line-height:28px;
    margin: 0 auto;
    border:0.5px solid #ca0c16;
}

.inter-gray-button
{
    color:#999;
    border:0.5px solid #999;
}

.home-user-info
{
    width:224px;
    margin-right:15px;
}

.home-user-info-layout
{
    width:80%;
    margin:0 auto;
}

.blog-item h2
{
    font-size: 16px;
    margin:0px;
    padding:0px;
    
}


.content-nowrap
{
    display:flex;
    flex-wrap: nowrap;
    
}

.home-blog-info
{
    width:800px;
}

.aver
{
    
}

.user-info
{
    margin-left:8px;
    width:138px;
}

.inter-button:hover
{
    text-decoration:none;
    cursor: pointer;
}

.avatar_pic
{
    width:48px;
    height:48px;
}

.blog-main-panel
{
    margin-top:20px;
    width:100%;
    display:inline-block
}

.blog-main-width
{
    width:1000px;
}

.blog-main
{
    
    width:800px;
}

.blog-personal
{
    /* width:200px; */
    margin-right:20px;
}
.layout-flex {
    display: flex;
    align-items: flex-start;
}

.mynavbar-right
{
	float:right;
	display: flex;
    align-items: center;
}

.tweet-item {
    padding: 20px 0 10px;
    border-bottom: 1px solid #eee;
    word-break: break-all;
}

.reply_a{
    cursor:pointer;
}

.NewListItemTitle
{
    color:#99cc33;
    text-overflow: ellipsis;
}

#mainlist a
{
    position:relative;
    padding:14px 20px;
    display: block;
    border-bottom: solid 1px #CCCCCC;
    color:white;
    overflow: hidden;
    text-decoration:none;
}

.user-icon
{
    display:inline-block;
    width:100px;
    height:100px;

}

.message-icon
{
	position:relative;
	display:inline-block;
}

#message-item:hover  #message-list
{
	display:inline-block;
	max-height:160px; 
}

#my-item:hover  #my-list
{
    	display:inline-block;
	max-height:160px; 
}

.messageNav-list li
{
	padding:5px;
}

.list-style-none
{
    list-style-type: none;
    padding-left:0px;   
}

.messageNav-list
{
	overflow: hidden;
 	min-width:90px; 
	max-height:0px; 
	margin:0px;
	position:absolute;
	padding:0px;
	background:white;
	transition: max-height 0.2s ease;
	list-style-type: none;
}

.main-icon
{
    width: 100px;
    height: 100px;
}

.flex-grow {
    flex-grow: 1;
}
.navbar-tag a
{
	color:white; 
	margin:5px;
}

.messageNav-list a
{
	color:black;
    font-size:13px;
}

.navbar-tag
{
	float:right;
    margin-right:80px;
}
.text-muted {
    font-size: 10px;
    color: #999999;
    margin-left: 5px;
}

.icon-space
{
    position: relative;
	/* display: inline-block;  */
}

.icon-space .upload-logo .text-muted 
{
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.message-list-item
{
	list-style:none;
	padding:10px;
	border-bottom:1px solid #dddddd
}

.msg-panel
{
    margin-top:30px;
}

.main-content{
    margin-top:50px;
    width:1200px;
    margin:20px auto;
}

.unread-item
{
	font-weight:bold;
}

.message-list-time
{
	float:right;
	padding-right:20px;
}

.upload-logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}

.icon-space:hover  .upload-logo
{
    display: block;
}

.nickname {
    font-weight: 600;
    color: blue;
}


.tweet-item .user-icon img {
    width: 45px;
    height: 45px;
}
.user-title
{
    font-size:24px;
}

.msg-content
{
    width:100%;
    height:100%;
}

.msg-content textarea
{
    resize:none;
    width:100%;
    height:100px;
}

.score-item
{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.score-num
{
    font-size:36px;
    
}

.user-signature
{
    padding: 5px;
}

.user-blogInfo
{
    min-width:200px;
}

.user-personalInfo
{
    flex:1;
    padding-top:20px
}

.upload-icon
{

}

.icon-preview
{
    width:300px;
    height:300px;
    position:relative;
}

.mainindex_l
{
	width:800px;
}

.user-home-width
{
	width:1000px;
}

.home
{
    width:800px;
}
.conten-center
{
    display:flex;
    margin:0 auto;
    align-items:center;
    justify-content:center;
}

.vertical-center
{
    display:flex;
    margin:0 auto;
    align-items:center;
    flex-direction:column;
}

.horizontal-center
{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.content-wrapper
{
    display:flex;
    /* width:1000px; */
    margin:0 auto;
    align-items:flex-start;
}

.content-wrapper .head-ul
{
	padding-left:0px;
	margin:0px;
}


.mynav
{
    background: #fff;
	margin-bottom:20px;
    border-bottom: 1px solid #d7d8da;
}

.mynav li
{
	float: left;
    margin-right: 34px;
    list-style: none;
    line-height: 47px;
    height: 49px;
}

.nav-curr
{
	font-size:18px;
	color: #333;
	font-weight: bold;
	border-bottom: 2px solid #101010;
}

.mynav li a
{
	font-size:15px;
	color: #333;
	text-decoration:none;
}


#mainlist a+ul
{
    display:none;
    position:relative;
    background:#000000;
    padding:14px 20px;
    border-bottom: solid 1px #FFFFFF;
    color:white;
    overflow: hidden;
    text-decoration:none;
}

.file-input
{
    position:relative;
}

.file-input input
{
    width:100%;
    height:100%;
    position:absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.index-new-list
{
    /* height:200px; */
    overflow:hidden;
}

#mainlist a:hover
{
    background:#CCCCCC;
}

.ink{
    display:block;
    position:absolute;
    background-color:rgba(255,255,255,0.3);
    border-radius:100%;
    transform: scale(0); 
}

.animate-ink {
	animation: ripple .3s linear
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5)
	}
}

.user-operate .button
{
    display: inline-block;
    min-width: 84px;
    margin: 0 4px;
    padding-left: 0;
    padding-right: 0;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
}

.list-border-gray
{
    padding:0px;
}

.list-border-gray li
{
    border-bottom: 1px solid #d4d4d5;
    list-style:none;
}

.list-border-gray li:last-child
{
    border:none;
}

.follower-blog
{
    padding:10px 0px;
    
}

.follower-blog:last-child
{
    border:none;
}

.user-item
{
    margin-left:10px;
    width:100%;
}

.remove-btn
{
    text-align: center;
    border: 1px solid rgba(34,36,38,.15);
    padding: .78571429em 1.5em .78571429em;
    font-size: .78571429em;
    cursor: pointer;
}

.user-operate .green
{
    background-color: #32aa66;
    color: #fff;
}

.favourite-item
{
    width:100%;
    padding:15px 0px;
}

.border-gray
{
    border-bottom:1px solid #d4d4d5;
    
}

.user-operate .send-msg
{
    border:0.5px solid #26834e;
    color:#26834e;
}

.forum
{
    padding:20px;
}

.module-list
{
    padding:0px;
}

.module-list li
{
    display:inline-block;
    width:26%;
    list-style: none;
    margin: 10px 7% 10px 0;
}

.forum-module-head
{
    padding:10px;
    font-size: 16px;
    
    color: #000;
    line-height: 38px;
}

.forum-module-head h4
{
    font-weight: bold;

}

.forum-module-main
{
    padding:10px;
}

.forum-module
{
    /* padding:10px; */
    border: 1px solid #ccc;
}
.module-img
{
    width:66px;
    height:66px;
    float: left;
}

