#mainlist
{
    background:#FFFFFF;
    position:fixed;

    height:800px;
    box-shadow:5px 0 20px #333;
    list-style-type:none;
    padding:0px;  
    z-index:3;
}

.NewListItemTitle
{
    color:#99cc33;
    text-overflow: ellipsis;
}

#mainlist a
{
    position:relative;
    padding:14px 20px;
    display: block;
    border-bottom: solid 1px #CCCCCC;
    color:white;
    overflow: hidden;
    text-decoration:none;
}

#mainlist a+ul
{
    display:none;
    position:relative;
    background:#000000;
    padding:14px 20px;
    border-bottom: solid 1px #FFFFFF;
    color:white;
    overflow: hidden;
    text-decoration:none;
}

#mainlist a:hover
{
    background:#CCCCCC;
}

.ink{
    display:block;
    position:absolute;
    background-color:rgba(255,255,255,0.3);
    border-radius:100%;
    transform: scale(0); 
}

.animate-ink {
	animation: ripple .3s linear
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5)
	}
}