{% extends 'base.html'%}
{% block Htmlcontent%}
		<div class="row">
			<div class="mynav">
                <div class="content-wrapper user-home-width">
					<ul class="head-ul">
                          <li  id="user-main"><a href={%url 'userapp:PersonalZoneUrl' user.userId%}>个人主页</a></li>
                          <li id="user-message" class="nav-curr"><a href="{%url 'userapp:getmessageinfo' %}">消息</a></li>
                    </ul>
				</div>
			</div>
		</div>
		
		<div class="content-wrapper user-home-width ">
			<div class="mainindex_l">
				<div class="panel panel-default">
					<div class="panel-heading">
						<ul class="nav nav-tabs msg-heading">
							<li class="comment-tab active"><a data-toggle="tab" href="#comment">评论</a></li>
							<li ><a class='letter-tab' data-toggle="tab" href="#letter">私信</a></li>
                            
                            <li><a data-toggle="tab" href="#sysMSg">系统消息</a></li>
						</ul>
					</div>
					
					<div class="panel-body">
						<div class="tab-content">
                            <div class="tab-pane in active" id="comment">
                                <ul class="blog-message-list">
                                    <li class="message-list-item">
                                        <div>
                                            <span class="message-list-user"></span>
                                            <span class="message-list-type"></span>
                                            <span><a class="message-list-link"></a></span>
                                            <span class="message-list-time"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="letter">
                                <ul class="letter-list">
                                    
                                </ul>
                            
                            </div>
                            
                            <div class="tab-pane" id="sysMSg">系统消息</div>
						</div>
                        
                        
					</div>
					
				</div>
			</div>
			
			
		</div>
		{% endblock %}

		{% block Jscontent%}
            
            var tab_index = window.location.hash;
            console.log(tab_index);
            if(tab_index == '#letter'){
                $('.letter-tab').tab('show');
            }
        
			$.get('/users/getmsginfo/', function(data, state){
				console.log(data);
				var BlogMsgList = $('.blog-message-list');
                var intMsgList = $('.interest-list');
                var letterList = $('.letter-list');
				var msgString = $('.message-list-item').prop('outerHTML');
				$('.message-list-item').hide();
				for(msg of data['blog']){
					var msgItem = $(msgString);
					msgItem.find('.message-list-user').text(msg['user']['name']);
					msgItem.find('.message-list-time').text(msg['time']);
					msgItem.find('.message-list-link').text(msg['blog']['title']);
					msgItem.find('.message-list-link').attr('href', msg['blog']['link']+'?from=message');
					if(msg['msgType'] == 'CO')
						msgItem.find('.message-list-type').text('回复了帖子');
                    if(msg['isRead'] == false)
                        msgItem.addClass('unread-item');
					BlogMsgList.append(msgItem);
				}	
                
                for(msg of data['user']){
                    if(msg['msgType'] = 'LE'){
                        var msgItem = $(msgString);
                        msgItem.find('.message-list-user').text(msg['user']['username']);
                        msgItem.find('.message-list-type').text('给你发送了消息');
                        msgItem.find('.message-list-link').text("\"" + msg['content'] + "\"");
                        msgItem.find('.message-list-time').text(msg['time']);
                        letterList.append(msgItem);
                        
                    }
                    
                    
                }
			});
	   
	   
		{% endblock %}