{% extends 'users/user-info-base.html' %}
{% block show-content%}
<div class='home-head'>
    <p>我的关注</p>
</div>
<div class="blog-info">
    <ul class='blog-list list-border-gray'>
        {%for userItem in followerBlog%}
        <li class='blog-item content-nowrap '>
            <div class="head-img">
                <a>
                    <img class="img-circle" src={{userItem.0.authorId.iconUrl}}>
                    </img>
                </a>
            </div>

            <ul class='user-item list-border-gray'>
                {% for blog in userItem%}
                <li class='follower-blog'>
                    <span>
                        <span >{{blog.authorId.name}}</span>
                        <span class='blog-time'>{{blog.time|date:"Y.m.d"}}</span>
                    </span>

                    <h2><a>{{blog.title}}</a></h2>
                    <div>{{blog.descript}}</div>
                </li>
                {%endfor%}
            </ul>
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

