{% extends 'base.html'%}
{% block Jscontent%}
<script>
    $(function(){
        $.get("/getdata/?action=getComment",function(data, status){
            
        })
    })
    
    function getUrlParam(name){
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值 
    }
    
    function uploadComment(){
        var comment = {}
        <!-- alert(getUrlParam('id')) -->
        comment['content'] = $("#comment_text").val()
        comment['comment_id'] = getUrlParam('id')
        $.post("/uploadData/?action=uploadComment",comment);
    }
</script>
{% endblock %}
{% block Htmlcontent%}
<div class="container-fluid" style="padding-left: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="margin:20px;width:100%;">
                <div id="BlogTitle" style="width:100%;text-align:center;font-size:30px;">{{Blog.title}}</div>
                <div id="BlogContend">{{Blog.content|safe}}</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
            comment
            </h3>
        </div>
        <div class="panel-body">
            <div style="border-bottom:2px #269abc solid;height:100px; margin-bottom:20px;">
                <form method="post" action="##" onsubmit="return false">
                    {% csrf_token %}
                    <textarea id="comment_text" style="resize: none;width:100%;" required></textarea>
                    <button class="btn btn-info" type="submit" style="float:right" onclick="uploadComment()">ok</button>
                </form>
            </div>
            <div id="comment-content">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a>
                                <img src="\media\head.jpg" class="img-circle" style="width:50px"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4>username</h4>
                            <p>comment-content</p>
                            <div id="comment-foot">
                                <span>2018.01.22</span>
                                <a>reply</a>
                            </div>
                            <div>
                                <ul id="comment-in" style="list-style:none;" class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a>
                                                <img src="\media\head.jpg" class="img-circle" style="width:30px"/>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                        reply
                                            <div id="comment-foot">
                                                <span>2018.01.22</span>
                                                <a>reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}


