{% extends 'base.html'%}
{% block Htmlcontent%}
<div>
    Title:
    <input id="blogTitle"></input>
    <script id="container" name="content" type="text/plain">
    </script>
    <script type="text/javascript" src="/static/js/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/js/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        var editor = UE.getEditor('container');
        $(function(){
            $('#blogSubmit').click(function(){
                 var tmp = editor.getContentTxt();
                <!-- console.log(tmp);  -->
                var title = $("#blogTitle").val()
                $.post("../test/", {'title':title,"content":tmp});
            });
        
        });
        
        <!-- setInterval(function(){ -->
        <!-- var tmp = editor.getContent(); -->
        <!-- console.log(tmp); -->
        <!-- },2000); -->
    </script>
    <button class="btn btn-primary" id="blogSubmit">
    submit
    </button>
</div>
{% endblock %}
