<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <link rel="stylesheet" href="{% static "css/mycss.css" %}"></link>
        {% block Headcontent %}{% endblock %}
    </head>
    <body style="padding-top: 50px;background-color:#F2F2F2">
        {%include 'head.html'%}
        {% block Htmlcontent %}{% endblock %}
    </body>
	
	<script type="text/javascript">
		$(function(){
			{% block Jscontent %}{% endblock %}
			$.get('/users/getMessage', function(data, status){
				var all = parseInt(data['all']);
				var letter = parseInt(data['letter']);
				var comment = parseInt(data['comment']);
				if(all >0){
					var messageAllItem = $('.message-all');
					appendText(messageAllItem, '(' + all + ')');
				}
				if(letter > 0){
					var letter_item = $('.message-letter');
					appendText(letter_item, '(' + letter + ')');
				}
				
				if(comment > 0){
					var comment_item = $('.message-comment');
					appendText(comment_item, '(' + comment + ')');
				}
					
			})
		});
		
		function appendText(item, text){
			oldText = item.text();
			item.text(oldText + text);
		}
	
	
	</script>
	
</html>