{% extends 'base.html'%}
{% block Headcontent%}
{% load staticfiles %}
<script src="{% static "js/Blog.js" %}"></script>
<script src="{% static "js/Common.js" %}"></script>
{% endblock %}
{% block Htmlcontent%}
<div class="container-fluid" style="padding-left: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class='blog-main-panel '>
                <div class="content-wrapper blog-main-width">
                    <div class='blog-personal'>
                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h6>个人资料</h6>
                            </div>
                            <div class="panel-body">
                                <div class='profile-intro content-wrapper border-gray'>
                                    
                                    <div class='avatar-box'>
                                        <a class='icon-link'>
                                            <img class='img-circle avatar_pic' src={{Blog.authorId.UserInfo.iconUrl}}>
                                            </img>
                                        </a>
                                    </div>
                                    <div class='user-info'>
                                        <p class='author-name'>{{Blog.authorId.UserInfo.name}}</p>
                                    </div>
                                    <div class='opt-box'>
                                        <a class=' inter-button '>关注</a>
                                    </div>
                                </div>
                                <div class='data-info content-wrapper border-gray'>
                                    <div class=''>关注<p>{{Blog.authorId.inter_list.count}}</p></div>
                                    <div class=''>原创<p>{{Blog.authorId.userbloglist.count}}</p></div>
                                    <div class=''>评论<p>{{Blog.authorId.UserInfo.userComment.count}}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='blog-main'>
                        <div class='panel'>
                            <div class='panel-body'>
                                <div class='blog-id' hidden>{{Blog.blogId}}</div>
                                <div class="blog-title">{{Blog.title}}</div>
                                <div class="blog-head-info content-head">
                                    <span class='blog-time'>{{Blog.time|date:'Y-m-d H:i'}}</span>
                                    <span class='blog-time float-right'>阅读数:{{Blog.readNum}}</span>
                                </div>
                                <div class="blog-content">{{Blog.content|safe}}</div>
                                <div class='Blog-bottom'>
                                    <div class='pageActive conten-center'>
                                        <span class='pageActive-item' onclick="favFun(199, 'fav', this)">
                                            <span class='pageActive-item-text'>收藏</span> 
                                            <span class='pageActive-item-num'>0</span>
                                        </span>
                                        <a class='pageActive-item' onclick="userev(199, 'praise', this)">点赞</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">comment</h3>
                            </div>
                            <div class="panel-body">
                                <div style="border-bottom:2px #269abc solid;height:100px; margin-bottom:20px;">
                                    <form method="post" class="comment-form" action="/uploadData/?action=uploadComment">
                                        {% csrf_token %}
                                        <textarea id="comment_text" style="resize: none;width:100%;" name="content" required></textarea>
                                        <button class="btn btn-info" type="submit" style="float:right" >ok</button>
                                    </form>
                                </div>
                                <div id="comment-content">
                                    <ul class="comment-list">
                                        <li class="media" hidden>
                                            <div class="media-left">
                                                <a >
                                                    <img src="/media/head.jpg" class="img-circle" style="width:50px"/>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4>username</h4>
                                                <p>comment-conten111t</p>
                                                <div id="comment-foot">
                                                    <span>2018.01.22</span>
                                                    <a class="reply_a">reply</a>
                                                </div>
                                                <div>
                                                    <ul id="replay-list" style="list-style:none;" class="media-list">
                                                        <li class="media">
                                                            <div class="media-left">
                                                                <a>
                                                                    <img src="/media/head.jpg" class="img-circle" style="width:30px"/>
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                reply
                                                                <div id="comment-foot">
                                                                    <span>2018.01.22</span>
                                                                    <a>reply</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block Jscontent%}
    
    favFun = function(userId, action, itemTmp){
        var item = $(itemTmp);
        var itemText = $('.pageActive-item-text');
        var old = parseInt($('.pageActive-item-num').text());
        var clsStr = item.attr('class');
        console.log(clsStr)
        if(clsStr.indexOf('alreadyFav') == -1)
        {
            $.ajax({
                type:'POST',
                url:'/favourite/',
                success:function(data,status){
                    if(status == 'success')
                    {
                        itemText.text('取消收藏');
                        $('.pageActive-item-num').text(old+1);
                        item.addClass('alreadyFav');
                    }
                },
                data:'blogId='+getBlogId()+'&csrfmiddlewaretoken=' + getcsrf(document.cookie),
            })
            
        }
        else{
            $.ajax({
                type:'DELETE',
                url:'/favourite/'+getBlogId()+'/',
                headers:{
                    'X-CSRFTOKEN':getcsrf(document.cookie)
                },
                success:function(data,status){
                    itemText.text('收藏');
                    $('.pageActive-item-num').text(old-1);
                    item.removeClass('alreadyFav');
                }
            })
        }

    };
    praFun = function(userId, action, itemTmp){}
    
    interButtom = $(".inter-button");
    interButtom.click(function(){
        if(interButtom.text() == '关注'){
            $.ajax({
                method:'POST',
                url:'/interest/',
                success:function(data,status){
                    interButtom.text('已关注');
                    interButtom.addClass('inter-gray-button');
                },
                data:'toUserId='+getAuthorId()+'&csrfmiddlewaretoken=' + getcsrf(document.cookie),
            })
        }
        else if(interButtom.text() == '已关注'){
            $.ajax({
                method:'DELETE',
                url:'/interest/'+getAuthorId(),
                headers:{
                    'X-CSRFTOKEN':getcsrf(document.cookie)
                },
                success:function(data,status){
                    interButtom.text('关注');
                    interButtom.removeClass('inter-gray-button');
                },
            })
        }
        
    });
{% endblock %}

