
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid"> 
        <a class="navbar-brand" href="/index">Website</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                <span class="sr-only">Tab translate</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="acctive">
                    <a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                </li>
                <li><a href="">tab2</a></li>
            </ul>
			<div class="mynavbar-right">
				<form class="navbar-form" >
					<input type="text" id="nav-serach"></input>
					<button type="submit" class="btn  btn-primary">Search</button>
				</form>
				{% if user.is_authenticated  %}
				<div class="navbar-tag">
					<span class="message-icon">
						<a class="message-all">消息</a>
						<ul class="message-list">
							<li><a class="message-comment">评论</a></li>
							<li><a class="message-letter">私信</a></li>
						</ul>
					</span>
					<a href={% url 'userapp:PersonalZoneUrl' user.userId %}>{{ user.username }}</a>
					<a href={% url 'logout' %}>exit</a>
				</div> 
				{% else %}
				<a class="btn  btn-link" href="/login">login</a>
				<a class="btn  btn-link">register</a>
				{% endif %}
			</div>
            
        </div>
    </div>
</nav>