{% extends 'base.html'%}
{% load myfilter%}
{% block Htmlcontent%}
<div class='main-content'>
    <div class="container-fluid">
        <div class="row">
            <div class="panel blog-nav">
                <ul>
                    {% for cate in category%}
                    {%if isAll == True%}
                    <li {%if cate is category.0%}class='nav-active'{%endif%}>
                        <a href={% url 'index' cate.value%}>{{cate.name}}</a>
                    </li>
                    {%else%}
                    <li {%if blog_list.0.category.value == cate.value%}class='nav-active'{%endif%}>
                        <a href={% url 'index' cate.value%}>{{cate.name}}</a>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
            <div class="col-xs-6 col-md-6  panel">
                <div class="row">
                    <div class="col-xs-12 col-md-12" >
                        <div style="border-bottom:solid 2px black;margin:8px;">
                            <label>最新</label>
                            <a style="float:right">more>></a>
                        </div>
                        <div class='index-new-list'>
                            <ul class="list-border-gray" >
                                {% for newblog in blog_list%}
                                <li>
                                    <div class="newly-list-item border-gray">
                                        <div class='index-list-item-blog'>
                                            <a class="index-blog-title" href={% url 'blogUrl' newblog.blogId %}>{{newblog.title}}</a>
                                            <p class="blog-detail">{{newblog.descript}}</p>
                                        </div>
                                        <div class='blog-author-info'>
                                            <span class="head-img">
                                                <a>
                                                    <img class='img-circle' src={{newblog.authorId.UserInfo.iconUrl}}></img>
                                                </a>
                                            </span>

                                            <span class='blog-author-username'><p>{{newblog.authorId.UserInfo.name}}</p></span>
                                            <span><p class='blog-time'>{{newblog.time|mytimesince}}</p></span>
                                            <span class='float-right'>{{newblog.readNum}} 阅读</span>
                                        </div>

                                    </div>
                                </li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="row">
            <div class='forum panel'>
                <div class='forum-head'>
                </div>
                <div class='forum-module'>
                    <div class='forum-module-head border-gray'>
                        <h4>学习小组</h4>
                    </div>
                    <div class='forum-module-main'>
                        <ul class='module-list'>
                            <li>
                                <div class='module-img'>
                                </div>
                                <dl>
                                    <dt><a>学习小组</a></dt>
                                    <dd>帖数:99</dd>
                                    <dd>总帖数</dd>
                                </dl>
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

    </div>


</div>
{% endblock %}

{% block Jscontent%}
    $('.blog-nav li').click(function(){
        var localnav = $('blog-nav li[class="nav-active"]');
        localnav.removeClass("nav-active");
        $(this).addClass("nav-active");
    })
{% endblock %}