<!DOCTYPE html>
<html>
<head>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>

<select class='se'>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
  <button class='bu'>ss</button>
</body>

<script>
    $(function(){
        $('.bu').click(function(){
            var s = $('.se option:selected').val();
            console.log(s);
        });
    
    })
</script>
</html>
